@font-face {
    font-family: headline;
    src: url(/src/fonts/Satisfy-Regular.ttf);
}

.greeting {
    text-align: center;
    font-family: button;
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 3px;
}

h3 {
    padding: 0;
    margin: 0;
}